<option value="food">Food</option>
<option value="personal">Personal</option>
<option value="work">Work</option>
<option value="school">School</option>

<option value=<%=ctg.ctg%>><%=ctg.ctg%></option>