<div id="dropdown">
    <label for="ctgs">Choose a catigory:</label>
    <p id='dlt-this'>
<%- include('ctgList') -%>
    </p>   
    <button type="button" id='ctg-show-btn' action="todo/ctg/:ctg"> Show items from catigory</button>
    <button type="button" id="ctg-clear-all">Reset all catigories</button> 
</div>