<div id="dropdown">
    <label for="ctgs">Choose a category:</label>
    <p id='dlt-this'>
        <p class="select" id="catigory-list">  
    <%- include('ctgList') -%>
        </p>
    </p>   
    <button type="button" id='ctg-show-btn' action="todo/ctg/:ctg"> Show items from category</button>
    <button type="button" id="ctg-clear-all">Reset all categories</button> 
</div>