<form id="item-list">
    <div>
        <label for="item">What to do?</label>
        <input id="item" type="text" name="item" placeholder="Add new item.." required>
    </div>
    <div id='discr'>
        <label for="desc">Description</label>
        <input id="desc" type="text" name="desc" placeholder="Add item's description here.." required>
    </div>
    <div id="dropdown">
        <label for="ctgs">Choose a catigory:</label>
        <p class="select" id="catigory">    
            <select name="ctgs" id="ctgs" placeholder="select">
                <option value="food">Food</option>
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
            </select>
        </p>
    </div>
    <div>
        <button type="submit">Add item</button>
        <button type="button" id='clear'> Clear all</button>
    </div>
</form>
<form id="ctg-div">
    <div>
        <button type="submit" id='ctg-submit-btn'> Add a catigory</button>
        <input id="ctg-input" type="text" name="ctg-input" placeholder="Add more catigories here.." required>
    </div>
</form>