<form id="item-list">
    <div>
        <label for="item">What to do?</label>
        <input id="item" type="text" name="item" placeholder="Add new item.." required>
    </div>
    <div id='discr'>
        <label for="desc">Description</label>
        <input id="desc" type="text" name="desc" placeholder="Add item's description here.." required>
    </div>
<%- include('newCtgForm') -%>
    <div id="btns">
        <button type="submit">Add item</button>
        <button type="button" id='clear'> Clear all items</button>
    </div>
</form>
<form id="ctg-div">
    <div>
        <button type="submit" id='ctg-submit-btn'> Add new catigory</button>
        <input id="ctg-input" type="text" name="ctg-input" placeholder="Add more catigories here.." required>
    </div>
</form>
<div id='styleblock'>Items' list</div>