<%- include('header') -%>
<div id='goback-btn-div'>
    <a href="/todo"><button>Go back</button></a>
</div>
<div>
    <ul id="todo-list">
    <% todoItems.forEach(function(item){ %>
      <%- include('todoListItem', {item: item}); %>
    <% }); %>
    </ul>
</div>
<%- include('footer') -%>
