*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: #0d1521;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 82%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 5px;
    content: '';
    display: block;
    clear: both;
}

input{
    display: inline-block;
    width: 79.5%;
    min-width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
}

label{
    display: inline-block;
    font-size: 20px;
    width: 20%;
    min-width: 15%;
    padding: 20px;
    background-color: #23282e;
    border: 0;
    /* border-radius: 1ch; */
    text-align: center;
}

div{
    margin-top: 5px;
    padding: 0px;
    width: 100%;
}

button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#desc{
    display: inline-block;
    width: 79.5%;
    min-width: 70%;
    margin-right: 0px;
    font-size: 15pt;
    padding: 20px;
}

#discr label{
    position: relative;
    width: 20%;
    border: 0px;
}

#category label{
    display: inline;
    position: relative;
    width: 20%;
}

#category {
    position: relative;
    display: inline-block;
    width: 10;
}

select {
    /* // A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* // Additional resets for further consistency */
    border: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    min-width: 70%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}


:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select {
    display: inline-block;
    width: 100%;
    max-width: 29.2%;
    border: 0px solid var(--select-border);
    border-radius: 0;
    padding: 0px;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    margin: 0;
    background-color: #181c22;
    grid-template-areas: "select";
}

.select:hover{
    border:1px solid white;
    
}

/* .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    padding: 0px;
    position: relative;
    display: inline-block;
} */

/* select,
.select:after {
  grid-area: select;
} */

.select select{
    background-color: #373e47;
    border-radius: 3px;
}

#ctg-div input{
    width: 79.6%;
    min-width: 70%;
    margin: 0%;
}

#ctg-div button{
    margin: 0%;
    width: 20%;
    min-width: 18%;
}

button{
    padding: 20px;
    width: 25%;
    min-width: 20%;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    
}

button:hover{
    background-color: rgba(169, 170, 170, 0.877);
    transform: perspective(6px) translateZ(6);
    overflow: visible;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    transition-property: padding, 5px;
}

#dropdown button{
    width: 24.7%;
    min-width: 20%;
    padding: 8.5px;
    border-radius: 0.21rem;
    font-size: 120%;
}

#dropdown button:hover{
    /* fade */
    transform: perspective(6px) translateZ(6);
    overflow: visible;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    transition-property: padding, 5px;
    
}


#dropdown p{
    display: inline-block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
 
/* li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
} */

h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    margin: 0;
    text-indent: -10000px;
}

h2{
    font-size: 20px;
    background-color: #181c22;
    width: 15%;
    min-width: 10%;
    padding: 5px;
    text-align: left;
    border-radius: 0ch;
}

li {
    background-color: #181c22;
    margin-top: 5px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 20px;
    /* cursor: pointer; */
    letter-spacing: 1px;
}

li button{
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    position: relative;
    width: 200px;
    min-width: 100px;
    cursor: pointer;
    float: right;
}

li *{
    display: inline-block;
}

#btns{
    width: 100%;
    min-width: 70%;
    padding: 0px;
}

#btns button{
    width: 49.75%;
    min-width: 40%;
    margin: auto;
    display: inline-block;
}

#styleblock{
    padding: 5px;
    width: 99.9%;
    min-width: 70%;
    background-color: #23282e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 200%;
}

