*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 90%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 5px;
    content: '';
    display: block;
    clear: both;
}

input{
    display: inline-block;
    width: 79.0%;
    padding: 20px;
    background:#181c22;
    border: 0;
    font-size: 20px;
    color: #989898;
}

label{
    display: inline-block;
    width: 20%;
    padding: 22px;
    background-color: #23282e;
    border: 0;
    /* border-radius: 1ch; */
    text-align: center;
}

div{
    margin-top: 5px;
    padding: 0px;
    width: 100%;
}

#desc{
    display: block;
    margin-top: 5px;
    width: 99.5%;
    margin-right: 0px;
    font-size: 15pt;
}

#discr label{
    position: relative;
    width: 99.5%;
    border: 0px;
}

#category label{
    display: inline;
    position: relative;
    width: 20%;
}

#category {
    position: relative;
    display: inline-block;
    width: 10;
}

select {
    /* // A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* // Additional resets for further consistency */
    border: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none
}


:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select {
    display: inline-block;
    width: 100%;
    min-width: 15ch;
    max-width: 30%;
    border: 0px solid var(--select-border);
    border-radius: 0;
    padding: 12px 0.5em;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    margin: 0;
    color: lawngreen;
    background-color: rgb(247, 247, 247);
    background-image: linear-gradient(to top, #23282e, #23282e 33%);
}

.select select{
    background-color: #373e47;
    border-radius: 3px;
}

#ctg-div input{
    width: 74%;
    margin: 0%;
}

#ctg-div button{
    margin: 0%;
    margin-right: 5px;
}

button{

    padding: 20px;
    margin-right: 5px;
    margin-top: 5px;
    width: 25%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
 
/* li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
} */

h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    margin: 0;
    text-indent: -10000px;
}

h2{
    font-size: 30px;
    background-color: #3b414e;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 1ch;
}

li {
    background-color: #181c22;
    margin-top: 5px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    /* cursor: pointer; */
    letter-spacing: 1px;
}

li button{
    float: left;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    position: relative;
    top: -350px;
    left: 835px;
    width: 200px;
    cursor: pointer;
    /* border-radius: 1ch; */
}


/* ////////////////////////// */